@font-face {
    font-family: 'Averta';
    src: url('Averta-Bold.eot');
    src: url('Averta-Bold.eot?#iefix') format('embedded-opentype'),
        url('Averta-Bold.woff2') format('woff2'),
        url('Averta-Bold.woff') format('woff'),
        url('Averta-Bold.ttf') format('truetype'),
        url('Averta-Bold.svg#Averta-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('Averta-ExtraBold.eot');
    src: url('Averta-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Averta-ExtraBold.woff2') format('woff2'),
        url('Averta-ExtraBold.woff') format('woff'),
        url('Averta-ExtraBold.ttf') format('truetype'),
        url('Averta-ExtraBold.svg#Averta-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta-Extrathin';
    src: url('Averta-Extrathin.eot');
    src: url('Averta-Extrathin.eot?#iefix') format('embedded-opentype'),
        url('Averta-Extrathin.woff2') format('woff2'),
        url('Averta-Extrathin.woff') format('woff'),
        url('Averta-Extrathin.ttf') format('truetype'),
        url('Averta-Extrathin.svg#Averta-Extrathin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('Averta-Semibold.eot');
    src: url('Averta-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Averta-Semibold.woff2') format('woff2'),
        url('Averta-Semibold.woff') format('woff'),
        url('Averta-Semibold.ttf') format('truetype'),
        url('Averta-Semibold.svg#Averta-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('Averta-Light.eot');
    src: url('Averta-Light.eot?#iefix') format('embedded-opentype'),
        url('Averta-Light.woff2') format('woff2'),
        url('Averta-Light.woff') format('woff'),
        url('Averta-Light.ttf') format('truetype'),
        url('Averta-Light.svg#Averta-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('Averta-Thin.eot');
    src: url('Averta-Thin.eot?#iefix') format('embedded-opentype'),
        url('Averta-Thin.woff2') format('woff2'),
        url('Averta-Thin.woff') format('woff'),
        url('Averta-Thin.ttf') format('truetype'),
        url('Averta-Thin.svg#Averta-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: url('Gordita-Bold.eot');
    src: url('Gordita-Bold.eot?#iefix') format('embedded-opentype'),
        url('Gordita-Bold.woff2') format('woff2'),
        url('Gordita-Bold.woff') format('woff'),
        url('Gordita-Bold.ttf') format('truetype'),
        url('Gordita-Bold.svg#Gordita-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('Averta-Regular.eot');
    src: url('Averta-Regular.eot?#iefix') format('embedded-opentype'),
        url('Averta-Regular.woff2') format('woff2'),
        url('Averta-Regular.woff') format('woff'),
        url('Averta-Regular.ttf') format('truetype'),
        url('Averta-Regular.svg#Averta-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: url('Gordita-Light.eot');
    src: url('Gordita-Light.eot?#iefix') format('embedded-opentype'),
        url('Gordita-Light.woff2') format('woff2'),
        url('Gordita-Light.woff') format('woff'),
        url('Gordita-Light.ttf') format('truetype'),
        url('Gordita-Light.svg#Gordita-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: url('Gordita-Medium.eot');
    src: url('Gordita-Medium.eot?#iefix') format('embedded-opentype'),
        url('Gordita-Medium.woff2') format('woff2'),
        url('Gordita-Medium.woff') format('woff'),
        url('Gordita-Medium.ttf') format('truetype'),
        url('Gordita-Medium.svg#Gordita-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gordita';
    src: url('Gordita-Regular.eot');
    src: url('Gordita-Regular.eot?#iefix') format('embedded-opentype'),
        url('Gordita-Regular.woff2') format('woff2'),
        url('Gordita-Regular.woff') format('woff'),
        url('Gordita-Regular.ttf') format('truetype'),
        url('Gordita-Regular.svg#Gordita-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

